<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Travel App</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4287f5;">
        <a class="navbar-brand" href="/">Dream Destinations</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all-countries">Browse All The Countries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/unesco-sites">Browse Our UNESCO World Heritage Sites</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/signup" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Your Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/signup">Sign Up</a>
                <a class="dropdown-item" href="/login">Sign In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/{{ g.user.username }}">{{ g.user.username }}'s Page</a>
              </div>
            </li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline my-2 my-sm-0" style="background-color: #fafafa;" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

{% block content %} {% endblock %}

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>

</body>
</html>