{% expands 'base.html' %}

{% block content %}

  <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Don't Just Dream of Traveling. Do It.</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Where Do You Want To Go?" aria-label="Search">
                <button class="btn btn-outline" style="background-color: #fafafa;" type="submit">Search</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}