{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Don't Just Dream of Traveling. Do It.</h1>
            <form class="d-flex" id="search-countries" action="/country">
                <input class="form-control me-2" type="search" placeholder="Where Do You Want To Go?" aria-label="Search" id="country-search" name="country-search">
                <button class="btn btn-outline" style="background-color: #fafafa;" type="submit" id="search-button">Search</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}