{% extends 'base.html' %}

{% block content%}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-6">
    <h2 class="login-message">Log Into Your Account</h2>
    <form method="POST" id="login-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-lg btn-block">Log In</button>
    </form>
  </div>
</div>

{% endblock %}