{% extends 'base.html' %}

{% block content %}
    <div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <h1>{{ user.username }}'s Profile</h1>
                    <div class="profile mr-3"><img class= "profile-pic" src={{ user.img_url }}></div>
                    <br><br><br>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">{{ user.bio }}</p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">My Dream Destinations</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row mb-3">
                    {% for destination in user.destinations %}
                        <div class="col-lg-6 mb-2 pr-lg-1">
                            <a href="/countries/{{ destination.country_name }}">{{ destination.country_name }}</a>
                                {% if g.user.username == user.username %}
                                <a href="/destinations/{{ destination.id}}/remove">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                    </svg>
                                </a>
                                {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
             <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Places I've Visited</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row mb-3">
                    {% for visited_country in user.visited_countries %}
                        <div class="col-lg-6 mb-2 pr-lg-1">
                            <a href="/countries/{{ visited_country.country_name }}">{{ visited_country.country_name }}</a>
                        </div>
                    {% endfor %}
                </div>
                {% if user == g.user %}
                <div class="row">
                    <h5>Your Profile:</h5>
                    <form action="{{ g.user.username }}/edit-profile">
                        <button type="submit" class="btn btn-success">Edit Your Profile</button>
                    </form>
                      <form action="{{ g.user.username }}/delete-profile">
                        <button type="submit" class="btn btn-danger">Delete Your Profile</button>
                    </form>
                </div>
                {% endif%}
            </div>
        </div>
    </div>
</div>
        


{% endblock %}